section.chat-area.bg-background.flex.flex-col.justify-center
  div.flex.justify-center.items-center.flex-col.py-2
    h1.block.text-text.mb-2.text-xl #{friend}
    if last_edited
      p.block.text-text.text-xs #{t('Last edited')}: #{last_edited}
  section.overflow-hidden.outline-4(style="height: 50vh")
    div.chat-feed.flex.flex-col.h-full.overflow-auto.scrollbar-thin.scrollbar-thumb-content.scrollbar-track-background.scroll-smooth 
      div(hx-get="/messaging/messages/"+ friend_id, 
        hx-swap="outerHTML", 
        hx-target="this", 
        hx-trigger="load")

  form.w-full.rounded.overflow-hidden.p-4(hx-post="/messaging/send-chat/"+ friend_id, 
    hx-swap="innerHTML", 
    hx-target=".chat-feed")
    div.flex.items-center.justify-between.gap-4
      input.shadow.appearance-none.border.w-full(data-cy="chat-input", class="focus:outline-none focus:shadow-outline", type="text", name="chatInput")
      button.px-4.rounded.bg-accent-1.text-content.font-bold(data-cy="chat-send",class="hover:bg-accent-2", type="submit", name="send")=('Send')